
# -----------------------------------------------------------------------------
# Git Ignore:
# -------------------------------------

# ---------------------------
# General:

bin/
log/
target/

# ---------------------------
# Eclipse Mars/Neon:

.classpath
.project
.settings/

# ---------------------------
# MAC OS:

.DS_Store

# ---------------------------
# Project Specific Files:

nerve.csv

# -------------------------------------
# [End of .gitignore]
# -----------------------------------------------------------------------------
